# dir
node_modules/
.umi/
.umi-production/
.umi-test/
dist/

#file
.swc
.env.local
.umirc.local.ts
.config.local.ts


HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


